%h2 Anmelden
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |form|
  = devise_error_messages!
  %div
    = form.label "E-Mail"
    %br
    = form.email_field :email, :value => params[:email] || ""
  %div
    = form.label "Passwort"
    %br
    = form.password_field :password, autocomplete: "off", autofocus: true
  %div
    = form.label "Passwort bestätigen"
    %br
    = form.password_field :password_confirmation, autocomplete: "off"
  %hr
  %div
    = form.fields_for :company_attributes, resource.company do |form_company|
      = form_company.label "Firma"
      %br
      = form_company.text_field :name
  %div= form.submit "Speichern"
