.welcome
  = render :partial => 'interest_top'
  = render :partial => 'benefits'
  = render :partial => 'how_to'
  = render :partial => 'testemonials'
  = render :partial => 'pricing'
  = render :partial => 'interest_bottom'
